
<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #40826d"
>
  <div class="container-fluid">
    <a class="navbar-brand">
      <i routerLink="" class="fa-3x fa-solid fa-bag-shopping">
        <strong>SHOP-NOW</strong>
      </i></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="confirm-order">ORDERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item" style="margin-right: 300px;">
          <a class="nav-link" routerLink="contact">CONTACT</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="contact">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">SINGUP</a>
        </li> -->
    
      <i routerLink="/user-profile" class="fa-2x fa-solid fa-user" style="margin-right: 20px; color: aliceblue"></i>
      <i
        style=" color: aliceblue"
        routerLink="/add-cart"
        class="fa-2x fa-solid fa-cart-shopping"
      ></i
      > 
       <h2 style="margin-right: 10px"></h2>
      <div style="font-size: 8px;margin-right: 20px;" class="badge bg-danger">{{totalitems}}</div>
      <h2 style="margin-right: 10px"></h2>
      <i
      
        (click)="onLogout()"
        style="margin-right: 20px; color: aliceblue"
        class="fa-2x fa-solid fa-right-from-bracket"
      ></i>
        </ul>
    </div>

    <!-- <span class="link"><i class="fa-2x fa-solid fa-user" style=" color: aliceblue"></i> <br></span>  <span class="someicon">
      
     </span> -->
  </div>
</nav>
